html {
  height: 100%;
}

body {
  font-family: 'arial' , monospace;
  font-size: 1em;
  color: #000;
  margin: 0px auto;
  width: 1000px;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover { text-decoration: underline; }

.gray { color: #555; }
.black { color: #000; }
.white { color: #FFF; }
.gray_bg { background-color: #BBB; }
.black_bg { background-color: #000; }
.white_bg { background-color: #FFF; }
.center { text-align: center; }
.large { font-size: 115%; }
.larger { font-size: 130%; }
.small { font-size: 85%; }

#header_bar {
  padding: 0px;
  float:left;
  height: 60px;
  width: 100%;
  vertical-align: middle;
  line-height: 60px;
  background-color: lightpink;
  font-size: 115%;
}

#header_bar a {
  margin: 0px 20px;
}

#admin_bar {
  float:left;
  height: -moz-calc(100% - (60px));
  height: -webkit-calc(100% - (60px));
  height: calc(100% - (60px));
  font-size: 115%;
  background-color: gold;
}

#admin_bar a {
  display: block;
  margin: 20px 0px;
}

#admin_bar a:hover {
  
}

#page_content {
  float:left;
  background-color: lightskyblue;
  height: -moz-calc(100% - (60px));
  height: -webkit-calc(100% - (60px));
  height: calc(100% - (60px));
  padding: 0px 15px;
}

#page_content a {
  text-decoration: underline;
}

#page_content a:hover {
  color: blue;
}

.post_title {
  text-align: center;
  margin-top: 1.25em;
  margin-bottom: .75em;
}
